<div class="editProductsMain">
  <div class="appLayoutHeader" *ngIf="loading">
    <div class="appLayoutHeaderText d-flex gap-2 align-items-center p-2">
      <div>
        <button nbButton size="small"
                (click)="backToPrev()"
                nbTooltip="Back to previous page" nbTooltipPlacement="bottom"
                class="rounded-2 fw-semibold">
          <nb-icon icon="arrow-back-outline"></nb-icon>
        </button>
      </div>
      <h5 class="fw-semibold m-0">{{ product.name }}
      </h5>
    </div>
  </div>
  <div class="appLayoutBody">
    <div class="addProducts" *ngIf="loading">
      <form [formGroup]="editProductsForm" class="card p-3 border-0">
        <div class="row">
          <div formGroupName="category" class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3">
            <label class="label fw-semibold">Categories*</label>
            <nb-select fullWidth formControlName="id" placeholder="Select Category"
                       [status]="submitted && p.category.id?.errors ? 'danger' : 'basic'">
              <nb-option *ngFor="let category of categoriesData" [value]="category._id" (click)="selectCategory(category, 'form');">
                {{ category.name }}
              </nb-option>
            </nb-select>
            <p class="caption status-danger" *ngIf="submitted && p.category.id?.errors?.['required']">
              Please select the category.
            </p>
          </div>
          <div formGroupName="subCategory" class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3" >
            <label class="label fw-semibold">Sub Categories*</label>
            <nb-select fullWidth formControlName="id" placeholder="Select Sub Category"
                       [status]="submitted && p.subCategory.id?.errors ? 'danger' : 'basic'">
              <nb-option *ngFor="let subCategory of selectedSubCategories" [value]="subCategory._id" (click)="p.subCategory.name?.setValue(subCategory.name)">
                {{ subCategory.name }}
              </nb-option>
            </nb-select>
            <p class="caption status-danger" *ngIf="submitted && p.subCategory.id?.errors?.['required']">
              Please select the sub category.
            </p>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 mb-3">
            <label class="label fw-semibold">Product Name*</label>
            <nb-form-field>
              <input nbInput fullWidth formControlName="name" placeholder="Enter product name"
                     [status]="submitted && p.name?.errors ? 'danger' : 'basic'">
            </nb-form-field>
            <p class="caption status-danger" *ngIf="submitted && p.name?.errors?.['required']">
              Please enter the name.
            </p>
            <p class="caption status-danger" *ngIf="submitted &&  p.name?.errors?.['invalidName']">
              Name cannot start or end with spaces or more spaces.
            </p>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3">
            <label class="label fw-semibold">Price*</label>
            <nb-form-field>
              <nb-icon nbSuffix icon="currency-usd-outline" pack="eva"></nb-icon>
              <input type="number" nbInput fullWidth formControlName="price"
                     placeholder="Enter product price" min="0"
                     (keyup)="priceChange($event);"
                     [status]="submitted && p['price'].errors ? 'danger' : 'basic'">
            </nb-form-field>
            <p class="caption status-danger" *ngIf="submitted && p['price'].errors?.['required']">
              Please enter the price.
            </p>
          </div>
          <div class="col-sm-6 col-md-1 col-lg-1 col-xl-1 mb-3">
            <label class="label fw-semibold">Discount*</label>
            <nb-form-field>
              <nb-icon nbSuffix icon="percent-outline" pack="eva"></nb-icon>
              <input type="number" nbInput fullWidth formControlName="discount"
                     placeholder="Enter product discount" min="0" max="99"
                     (keyup)="discountChange($event);"
                     [status]="submitted && p.discount?.errors ? 'danger' : 'basic'">
            </nb-form-field>
            <p class="caption status-danger" *ngIf="submitted && p.discount?.errors?.['required']">
              Please enter the discount.
            </p>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3">
            <label class="label fw-semibold">Discounted Price*</label>
            <nb-form-field>
              <nb-icon nbSuffix icon="currency-usd-outline" pack="eva"></nb-icon>
              <input type="number" nbInput fullWidth formControlName="discountedPrice"
                     placeholder="Enter product price" [readOnly]="true"
                     [status]="submitted && p.discountedPrice?.errors ? 'danger' : 'basic'">
            </nb-form-field>
            <p class="caption status-danger" *ngIf="submitted && p.discountedPrice?.errors?.['required']">
              Please enter the price.
            </p>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3">
            <label class="label fw-semibold">EMI Starts (Min 3 Months)*</label>
            <nb-form-field>
              <input type="number" nbInput fullWidth formControlName="emiStartsAt"
                     placeholder="Enter product price" [readonly]="true"
                     [status]="submitted && p.emiStartsAt?.errors ? 'danger' : 'basic'">
            </nb-form-field>
            <p class="caption status-danger" *ngIf="submitted && p.emiStartsAt?.errors?.['required']">
              Please enter the price.
            </p>
          </div>
          <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2 mb-3">
            <label class="label fw-semibold">Interest*</label>
            <nb-form-field>
              <nb-icon nbSuffix icon="percent-outline" pack="eva"></nb-icon>
              <input type="number" nbInput fullWidth formControlName="annualInterest"
                     placeholder="Enter product discount" min="0" max="16"
                     (keyup)="annualInterestChange($event);"
                     [status]="submitted && p.annualInterest?.errors ? 'danger' : 'basic'">
            </nb-form-field>
            <p class="caption status-danger" *ngIf="submitted && p.annualInterest?.errors?.['required']">
              Please enter the discount.
            </p>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3 mb-3">
            <label class="label fw-semibold">Is-Featured*</label>
            <div class="w-100">
              <p-toggleButton class="w-100"
                              formControlName="isFeatured"
                              onLabel="True"
                              offLabel="False" />
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3 mb-3">
            <label class="label fw-semibold">Is-Trending*</label>
            <div>
              <p-toggleButton
                formControlName="isTrending"
                onLabel="True"
                offLabel="False" />
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3 mb-3">
            <label class="label fw-semibold">Is-NewArrival*</label>
            <div>
              <p-toggleButton
                formControlName="isNewArrival"
                onLabel="True"
                offLabel="False" />
            </div>
          </div>
          <div formGroupName="specifications">
            <div class="row">
              <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3">
                <label class="label fw-semibold">Brand*</label>
                <nb-form-field>
                  <input type="text" nbInput fullWidth formControlName="brand"
                         placeholder="Enter brand name"
                         [status]="submitted && specificationControls['brand'].errors ? 'danger' : 'basic'">
                </nb-form-field>
                <p class="caption status-danger" *ngIf="submitted && specificationControls['brand'].errors?.['required']">
                  Please enter the brand.
                </p>
                <p class="caption status-danger" *ngIf="submitted && specificationControls['brand'].errors?.['pattern']">
                  Don't use space before the name.
                </p>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3">
                <label class="label fw-semibold">Material*</label>
                <nb-form-field>
                  <input type="text" nbInput fullWidth formControlName="material"
                         placeholder="Enter material details"
                         [status]="submitted && specificationControls['material'].errors ? 'danger' : 'basic'">
                </nb-form-field>
                <p class="caption status-danger" *ngIf="submitted && specificationControls['material'].errors?.['required']">
                  Please enter the material.
                </p>
                <p class="caption status-danger" *ngIf="submitted && specificationControls['material'].errors?.['pattern']">
                  Don't use space before the name.
                </p>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3">
                <label class="label fw-semibold">Dimensions*</label>
                <nb-form-field>
                  <input type="text" nbInput fullWidth formControlName="dimensions"
                         placeholder="Enter dimensions details"
                         (input)="onDimensionInput($event)"
                         [status]="submitted && specificationControls['dimensions'].errors ? 'danger' : 'basic'">
                </nb-form-field>
                <p class="caption status-danger" *ngIf="submitted && specificationControls['dimensions'].errors?.['required']">
                  Please enter the dimensions.
                </p>
                <p class="caption status-danger" *ngIf="submitted && specificationControls['dimensions'].errors?.['invalidFormat']">
                  Format "LxWxH cm|mm|in".
                </p>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3">
                <label class="label fw-semibold">Weight*</label>
                <nb-form-field>
                  <input type="text" nbInput fullWidth formControlName="weight"
                         placeholder="Enter weight details"
                         [status]="submitted && specificationControls['weight'].errors ? 'danger' : 'basic'">
                </nb-form-field>
                <p class="caption status-danger" *ngIf="submitted && specificationControls['weight'].errors?.['required']">
                  Please enter the weight.
                </p>
                <p class="caption status-danger" *ngIf="submitted && specificationControls['weight'].errors?.['invalidWeightFormat']">
                  Format "weight lb|kg|g|oz".
                </p>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3">
                <label class="label fw-semibold">Color*</label>
                <nb-form-field>
                  <input type="text" nbInput fullWidth formControlName="color"
                         placeholder="Enter color details"
                         [status]="submitted && specificationControls['color'].errors ? 'danger' : 'basic'">
                </nb-form-field>
                <p class="caption status-danger" *ngIf="submitted && specificationControls['color'].errors?.['required']">
                  Please enter the color.
                </p>
                <p class="caption status-danger" *ngIf="submitted && specificationControls['color'].errors?.['pattern']">
                  Don't use space before the name.
                </p>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3">
                <label class="label fw-semibold">Finishing*</label>
                <nb-form-field>
                  <input type="text" nbInput fullWidth formControlName="finish"
                         placeholder="Enter finishing details"
                         [status]="submitted && specificationControls['finish'].errors ? 'danger' : 'basic'">
                </nb-form-field>
                <p class="caption status-danger" *ngIf="submitted && specificationControls['finish'].errors?.['required']">
                  Please enter the finishing.
                </p>
                <p class="caption status-danger" *ngIf="submitted && specificationControls['finish'].errors?.['pattern']">
                  Don't use space before the name.
                </p>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3">
                <label class="label fw-semibold">Warranty*</label>
                <nb-form-field>
                  <input type="text" nbInput fullWidth formControlName="warranty"
                         placeholder="Enter warranty details"
                         [status]="submitted && specificationControls['warranty'].errors ? 'danger' : 'basic'">
                </nb-form-field>
                <p class="caption status-danger" *ngIf="submitted && specificationControls['warranty'].errors?.['required']">
                  Please enter the warranty.
                </p>
                <p class="caption status-danger" *ngIf="submitted && specificationControls['warranty'].errors?.['invalidWarrantyFormat']">
                  Format "6|12|18|24|30|36 months".
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <div class="d-flex align-items-center gap-3">
              <div class="w-100">
                <label class="label fw-semibold">Product Description*</label>
                <nb-form-field>
                  <textarea nbInput fullWidth formControlName="description"
                            placeholder="Enter product description"
                            [minlength]="20" [maxlength]="150"
                            [status]="submitted && p.description?.errors ? 'danger' : 'basic'"></textarea>
                </nb-form-field>
                <p class="caption status-danger" *ngIf="submitted && p.description?.errors?.['required']">
                  Please enter the description.
                </p>
                <p class="caption status-danger" *ngIf="submitted && p.description?.errors?.['minlength']">
                  Description must be at least 20 characters.
                </p>
                <p class="caption status-danger" *ngIf="submitted && p.description?.errors?.['maxlength']">
                  Description cannot be more than 150 characters.
                </p>
                <p class="caption status-danger" *ngIf="submitted && p.description?.errors?.['pattern']">
                  Don't use space before the name.
                </p>
              </div>
            </div>
          </div>
        </div>
        @if (loadedFiles.length){
          <div class="row">
            <label class="label fw-semibold">Product Images*</label>
            @for (image of loadedFiles; track image.name; let i = $index){
              <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
                <div class="card">
                  <div class="card-header d-flex justify-content-between">
                    <span class="text-truncate">{{image.name}}</span>
                    <button type="button" [nbTooltip]="'Remove ' + image.name" class="btn-close" aria-label="Close" (click)="removeLoadedFile(image, i)"></button>
                  </div>
                  <div class="card-body loadedImagesCardBody">
                    <img ngSrc="{{image.url}}" alt="preview" class="card-img figure-img loadedImagesCard" width="300" height="100">
                  </div>
                </div>
              </div>
            }
          </div>
        }
        <div class="row">
          <div class="col-12 mb-3">
            <div class="card flex justify-content-center border-0">
              <label class="label fw-semibold">Images*</label>
              <p-fileUpload
                [multiple]="true"
                [showUploadButton]="false"
                chooseLabel="Choose files"
                mode="advanced"
                [customUpload]="true"
                [auto]="true"
                [showCancelButton]="false"
                (onSelect)="onFileSelect($event)"
                (onRemove)="removeFile($event)"
                accept="image/*"
                [fileLimit]="(5 - loadedFiles.length) > 0 ? (5 - loadedFiles.length) : -1"
                invalidFileLimitMessageDetail="You can only upload up to 5 files."
                maxFileSize="1000000">
                <ng-template pTemplate="content">
                  <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">
                      {{ file.name }} - {{ file.size }} bytes
                    </li>
                  </ul>
                  <div class="text-center" *ngIf="getImageCount() < 1">
                    <p class="mb-1 fw-semibold">{{ 5 - loadedFiles.length > 0  ? 'Drag and drop files here to upload. Or click to choose files' : 'Limit exceeded'}}</p>
                    @if (5 - loadedFiles.length > 0) {
                      <small>Duplicate files are not allowed & max file size is 1MB. Also, you can upload only {{5 - loadedFiles.length}} files.</small>
                    } @else {
                      <small>You can't upload more than {{loadedFiles.length}} files. If you want tou can replace the file. By removing the file.</small>
                    }
                  </div>
                </ng-template>
              </p-fileUpload>
            </div>
            <p class="caption status-danger" *ngIf="submitted && loadedFiles.length < 1 && getImageCount() < 1">
              Please upload the files.
            </p>
            <p class="caption status-danger" *ngIf="submitted && getImageCount() > 5">
              File limit exceeded.
            </p>
            <p class="caption status-danger" *ngIf="submitted && commonFiles.length">
              Duplicate files are not allowed.
            </p>
          </div>
        </div>
      </form>
      <div class="mt-3 d-flex justify-content-end">
        <div class="d-flex gap-3">
          <button nbButton class="bg-transparent"
                  (click)="backToPrev()"
                  [nbTooltip]="'Cancel and go back to previous page. If you cancel, you will lost the data.'" type="button" style="border: 1px solid black !important;">Cancel</button>
          <button nbButton class="bg-black text-white"
                  type="button" (click)="editProduct()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
