@forward "@nebular/theme/styles/theming";
@use "@nebular/theme/styles/theming" as *;
@use "@nebular/theme/styles/themes/default";

//this is for dropdown selection
nb-select.appearance-outline.status-basic{
  background: #f7f9fc !important;
  .select-button{
    background: #f7f9fc !important;
    color: black !important;
    min-width: auto !important;
    border: 1px solid #e4e9f2 !important;
    span{
      font-size: 13px;
    }
  }
}
nb-option:focus.selected {
  background-color: #000 !important;
  color: #fff;
}
.nb-theme-default [nbInput].status-basic {
  background-color: #f7f9fc !important;
  border-color: #e4e9f2 !important;
}
.nb-theme-default [nbInput].status-basic.is-invalid {
  padding-right: 2rem !important;
}
.nb-theme-default [nbInput].status-basic:focus {
   background-color: #f7f9fc !important;
   border-color: #e4e9f2 !important;
}
.nb-theme-default nb-form-field .nb-form-field-addon-basic-highlight{
  color: #8f9bb3 !important
}
p-togglebutton {
  .p-button{
    padding: 9px !important;
    border-radius: 4px;
    background: #f7f9fc;
    border: 1px solid #e4e9f2;
    box-shadow: none;
    color: black ;
    width: 100%;
  }
  .p-button.p-highlight {
    background: white;
    color: black;
  }
}
.p-fileupload {
  .p-fileupload-buttonbar {
    padding: 10px;
    p-button{
      margin-right: 10px
    }
  }
  .p-fileupload-buttonbar .p-button {
    height: 2.4rem;
    padding: 10px;
    background: black;
    border: none !important;
    border-radius: 5px;
    box-shadow: none;
  }
  .p-fileupload-row {
    background: whitesmoke;
    border-radius: 10px;
  }
  .p-fileupload-row:not(:last-child) {
    margin-bottom: 1rem;
  }
  .p-fileupload-row > div {
    padding: .5rem;
    .p-button{
      background: black;
      border-radius: 50%;
      height: 2rem;
      width: 2rem;
    }
  }
  .p-fileupload-content{
    p-progressbar{
      display: none;
    }
  }
}
p-dataview .p-dataview-content{
  background: transparent !important;
  margin-bottom: 2rem
}
