@use "themes" as *;
@use "@nebular/theme/styles/globals" as *;
@import "themes";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@include nb-install() {
  @include nb-theme-global();
}
@import "bootstrap/scss/bootstrap";
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  z-index: -10;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e4e4e4;
  cursor: pointer;
  border-radius: 0.15625rem;
}
*{
  font-family: 'Poppins', sans-serif !important;
}
button, button:focus{
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}
.cursor-pointer{
  cursor: pointer;
}
input::-webkit-input-placeholder { /* Edge */
  font-family: 'Poppins', sans-serif !important;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: 'Poppins', sans-serif !important;
}
input, textarea, select, button:focus {
  box-shadow: none !important;
}
input::placeholder {
  font-family: 'Poppins', sans-serif !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input::placeholder, textarea::placeholder {
  font: 13px 'Poppins', sans-serif !important;
}
.mainNavbar{
  width: 100%;
  .navUserCoverImg{
    .userCoverImage{
      height: 58px !important;
      width: 148px !important;
    }
  }
  .navUserActions{
    .navUserAction{
      cursor: pointer;
      margin-left: 20px;
      nb-icon{
        font-size: 24px !important;
      }
    }
    .navUserActionProfile{
      cursor: pointer;
      margin-left: 20px;
    }
  }
  .profileManagement{
    position: absolute;
    top: 75px;
    right: 10px;
    width: 300px;
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    cursor: auto;
  }
}
.appLayoutHeader{
  .appLayoutHeaderText{
    background: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 0;
    font-weight: bold;
  }
}
.appLayoutBody{
  margin: 1.5rem 0 0 0;
}
.appLayoutHeaderBack{
  display: flex;
  margin: 0 0 0 2rem;
  align-items: center;
  .appLayoutHeaderText{
    margin: 1rem 2rem;
    font-weight: bold;
  }
}
input[type="text"]:focus {
  box-shadow: none !important;
  background-color: #f7f9fc !important;
  border-color: #e4e9f2 !important;
}
.nb-theme-default nb-checkbox {
  .label {
    cursor: pointer;
  }
  .native-input:focus + .custom-checkbox,
  .custom-checkbox.checked {
    box-shadow: none !important;
  }
  .custom-checkbox.checked {
    background-color: #000 !important;
    border-color: #000 !important;
  }
}

.dropdown-item.active{
  background-color: black !important;
}
.nb-theme-default .nb-form-field-addon-basic-highlight{
  color: #8f9bb3 !important
}
.p-overlaypanel{
  z-index: 9999 !important;
  position: absolute;
  margin-top: 10px;
}
.globalDialogBox{
  position: relative;
  inset: 0;
  .globalDialogBoxCardBody{
    text-align: center;
    display: inline-table;
    .globalDialogBoxIcon{
      position: absolute;
      top: -40px;
      left: 40%;
      button{
        border: none !important;
        background: black !important;
        padding: 20px !important;
        border-radius: 50% !important;
        height: 5rem !important;
        width: 5rem !important;
        nb-icon{
          width: 2rem !important;
          height: 2rem !important
        }
      }
    }
    .globalDialogBoxText{
      margin-top: 2rem
    }
  }
}
