<div class="viewProductsMain">
  <div class="appLayoutHeader">
    <div class="appLayoutHeaderText d-flex justify-content-between align-items-center">
      <h5 class="fw-semibold m-0"> Products</h5>
      <div class="d-flex gap-3 align-items-center">
        <nb-form-field>
          <nb-icon nbSuffix class="cursor-pointer" icon="search-outline" pack="eva"
                   (click)="searchProducts()"></nb-icon>
          <input type="text" nbInput class="form-control"
                 [formControl]="productSearch"
                 (keyup.enter)="searchProducts()"
                 (keyup)="trimLeadingSpace($event)"
                 nbTooltip="After entering the data, click on enter or search icon" nbTooltipPlacement="bottom-start"
                 placeholder="Search by Product Name">
        </nb-form-field>
        <button nbButton size="small" *ngIf="whenSearch"
                (click)="loadProducts(); productSearch.setValue('')"
                nbTooltip="Reset the data" nbTooltipPlacement="bottom"
                class=" rounded-2 fw-semibold">
          <nb-icon icon="flip-2-outline"></nb-icon>
        </button>
        <button nbButton size="small"
                nbTooltip="Import the raw data" nbTooltipPlacement="bottom"
                class=" rounded-2 fw-semibold">
          <nb-icon icon="cloud-download-outline"></nb-icon>
        </button>
        <button nbButton size="small"
                [routerLink]="['/products/add']"
                nbTooltip="By clicking this you can add the products" nbTooltipPlacement="bottom"
                class=" rounded-2 fw-semibold">
          <nb-icon icon="plus"></nb-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="appLayoutBody">
    <div>
      <p-dataView class="bg-transparent mb-2" #dv [value]="products" [paginator]="true" [rows]="10" filterBy="brand"
                  layout="grid">
        <ng-template #list let-products pTemplate="gridItem">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3" *ngFor="let item of products; let first = first">
              <nb-card class="productCard">
                <nb-card-header class="d-flex justify-content-center align-items-center cursor-pointer" [routerLink]="['/products/details']" [queryParams]="{product: item.slug}">
                  <img src="{{item.images[0].url}}" alt="product" class="productImage">
                </nb-card-header>
                <nb-card-body>
                  <div>
                    <p class="fw-semibold mb-1 productTitle cursor-pointer" [routerLink]="['/products/details']" [queryParams]="{product: item.slug}">{{item.name}}</p>
                    <p class="text-black-50 small productSubTitle">{{item.description}}</p>
                  </div>
                  <div class="d-flex gap-2">
                    <div>
                      <nb-icon *ngFor="let item of [].constructor(5); let i = index" icon="star-outline" class="text-warning"></nb-icon>
                    </div>
                    <p class="m-0 cursor-pointer">5 Reviews</p>
                  </div>
                  <div class="d-flex align-items-end gap-2">
                    <p class="fw-semibold m-0 mt-2 text-2xl" style="font-family: system-ui,serif !important;">{{item.discountedPrice | currency:'INR':'symbol-narrow':'1.0-0'}}</p>
                    <small style="font-family: system-ui,serif !important;">MRP:
                      <span class="productMrp"  style="font-family: system-ui,serif !important;">{{item.price | currency:'INR':'symbol-narrow':'1.0-0'}}</span>
                      <span class="fw-semibold">
                        ({{item.discount}}%)
                      </span>
                    </small>
                  </div>
                  <div class="row mt-2">
                    <div class="col-10">
                      <button nbButton size="small"
                              [routerLink]="['/products/edit']" [queryParams]="{product: item.slug}"
                              nbTooltip="By clicking this you can edit the product" nbTooltipPlacement="bottom"
                              class=" rounded-2 fw-semibold bg-dark text-white w-100">
                        Add to Cart<nb-icon icon="shopping-cart-outline"></nb-icon>
                      </button>
                    </div>
                    <div class="col-2">
                      <button nbButton size="small"
                              nbTooltip="By clicking this you can edit the product" nbTooltipPlacement="bottom"
                              class=" rounded-2 fw-semibold">
                        <nb-icon icon="heart-outline"></nb-icon>
                      </button>
                    </div>
                  </div>
                </nb-card-body>
                <p class="productStockBanner productStockBannerOOS">Out of Stock</p>
              </nb-card>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <nb-card class="productCard">
                <nb-card-header class="d-flex justify-content-center align-items-center">
                  <img src="./assets/core/credentials.png" alt="product" class="productImage cursor-pointer" [routerLink]="['/products/edit']">
                </nb-card-header>
                <nb-card-body>
                  <div>
                    <p class="fw-semibold mb-1 productTitle">Credentials Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, sapiente?</p>
                    <p class="text-black-50 small productSubTitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque esse facilis fugiat id ipsum, maiores nobis quis tempora voluptatem.</p>
                  </div>
                  <div class="d-flex gap-2">
                    <div>
                      <nb-icon *ngFor="let item of [].constructor(5); let i = index" icon="star-outline" class="text-warning"></nb-icon>
                    </div>
                    <p class="m-0 cursor-pointer">5 Reviews</p>
                  </div>
                  <div class="d-flex align-items-end gap-2">
                    <p class="fw-semibold m-0 mt-2 text-2xl" style="font-family: system-ui,serif !important;">{{20 - (20 * (7 / 100)) | currency:'INR':'symbol-narrow':'1.0-0'}}</p>
                    <small style="font-family: system-ui,serif !important;">MRP:
                      <span class="productMrp"  style="font-family: system-ui,serif !important;">{{20 | currency:'INR':'symbol-narrow':'1.0-0'}}</span>
                      <span class="fw-semibold">
                        ({{7}}%)
                      </span>
                    </small>
                  </div>
                  <div class="row mt-2">
                    <div class="col-10">
                      <button nbButton size="small"
                              nbTooltip="By clicking this you can edit the product" nbTooltipPlacement="bottom"
                              class=" rounded-2 fw-semibold bg-dark text-white w-100">
                        Notify me<nb-icon icon="bell-outline"></nb-icon>
                      </button>
                    </div>
                    <div class="col-2">
                      <button nbButton size="small"
                              nbTooltip="By clicking this you can edit the product" nbTooltipPlacement="bottom"
                              class=" rounded-2 fw-semibold">
                        <nb-icon icon="heart-outline"></nb-icon>
                      </button>
                    </div>
                  </div>
                </nb-card-body>
                <p class="productStockBanner productStockBannerLS">Low Stock</p>
              </nb-card>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <nb-card>
                <nb-card-header class="d-flex justify-content-center align-items-center">
                  <img src="./assets/core/credentials.png" alt="product" class="productImage">
                </nb-card-header>
                <nb-card-body>
                  <div>
                    <p class="fw-semibold mb-1 productTitle">Credentials Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, sapiente?</p>
                    <p class="text-black-50 small productSubTitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque esse facilis fugiat id ipsum, maiores nobis quis tempora voluptatem.</p>
                  </div>
                  <div class="d-flex gap-2">
                    <div>
                      <nb-icon *ngFor="let item of [].constructor(5); let i = index" icon="star-outline" class="text-warning"></nb-icon>
                    </div>
                    <p class="m-0 cursor-pointer">5 Reviews</p>
                  </div>
                  <div class="d-flex align-items-end gap-2">
                    <p class="fw-semibold m-0 mt-2 text-2xl" style="font-family: system-ui,serif !important;">{{20 - (20 * (7 / 100)) | currency:'INR':'symbol-narrow':'1.0-0'}}</p>
                    <small style="font-family: system-ui,serif !important;">MRP:
                      <span class="productMrp"  style="font-family: system-ui,serif !important;">{{20 | currency:'INR':'symbol-narrow':'1.0-0'}}</span>
                      <span class="fw-semibold">
                        ({{7}}%)
                      </span>
                    </small>
                  </div>
                  <div class="row mt-2">
                    <div class="col-12">
                      <button nbButton size="small"
                              nbTooltip="By clicking this you can edit the product" nbTooltipPlacement="bottom"
                              class=" rounded-2 fw-semibold bg-dark text-white w-100">
                        View Details<nb-icon icon="eye-outline"></nb-icon>
                      </button>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <nb-card>
                <nb-card-header class="d-flex justify-content-center align-items-center">
                  <img src="./assets/core/credentials.png" alt="product" class="productImage">
                </nb-card-header>
                <nb-card-body>
                  <div>
                    <p class="fw-semibold mb-1 productTitle">Credentials Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, sapiente?</p>
                    <p class="text-black-50 small productSubTitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque esse facilis fugiat id ipsum, maiores nobis quis tempora voluptatem.</p>
                  </div>
                  <div class="d-flex gap-2">
                    <div>
                      <nb-icon *ngFor="let item of [].constructor(5); let i = index" icon="star-outline" class="text-warning"></nb-icon>
                    </div>
                    <p class="m-0 cursor-pointer">5 Reviews</p>
                  </div>
                  <div class="d-flex align-items-end gap-2">
                    <p class="fw-semibold m-0 mt-2 text-2xl" style="font-family: system-ui,serif !important;">{{20 - (20 * (7 / 100)) | currency:'INR':'symbol-narrow':'1.0-0'}}</p>
                    <small style="font-family: system-ui,serif !important;">MRP:
                      <span class="productMrp"  style="font-family: system-ui,serif !important;">{{20 | currency:'INR':'symbol-narrow':'1.0-0'}}</span>
                      <span class="fw-semibold">
                        ({{7}}%)
                      </span>
                    </small>
                  </div>
                  <div class="row mt-2">
                    <div class="col-10">
                      <button nbButton size="small"
                              class=" rounded-2 fw-semibold bg-dark text-white w-100 d-flex align-items-center justify-content-around">
                        <nb-icon icon="trash-outline"></nb-icon>
                        3
                        <nb-icon icon="plus-outline"></nb-icon>
                      </button>
                    </div>
                    <div class="col-2">
                      <button nbButton size="small"
                              nbTooltip="By clicking this you can edit the product" nbTooltipPlacement="bottom"
                              class=" rounded-2 fw-semibold">
                        <nb-icon icon="heart-outline"></nb-icon>
                      </button>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
        </ng-template>
      </p-dataView>

      <app-no-data *ngIf="!products.length"></app-no-data>
    </div>
  </div>
</div>
