<div class="viewProductsMain">
  <div class="appLayoutHeader">
    <div class="appLayoutHeaderText d-flex justify-content-between align-items-center">
      <h5 class="fw-semibold m-0"> Products</h5>
      <div class="d-flex gap-3 align-items-center">
        <nb-form-field>
          <nb-icon nbSuffix class="cursor-pointer" icon="search-outline" pack="eva"
                   (click)="searchProducts()"></nb-icon>
          <input type="text" nbInput class="form-control"
                 [formControl]="productSearch"
                 (keyup.enter)="searchProducts()"
                 (keyup)="trimLeadingSpace($event)"
                 nbTooltip="After entering the data, click on enter or search icon" nbTooltipPlacement="bottom-start"
                 placeholder="Search by Product Name">
        </nb-form-field>
        <button nbButton size="small" *ngIf="whenSearch"
                (click)="loadProducts(); productSearch.setValue('')"
                nbTooltip="Reset the data" nbTooltipPlacement="bottom"
                class=" rounded-2 fw-semibold">
          <nb-icon icon="flip-2-outline"></nb-icon>
        </button>
        <button nbButton size="small"
                nbTooltip="Import the raw data" nbTooltipPlacement="bottom"
                class=" rounded-2 fw-semibold">
          <nb-icon icon="cloud-download-outline"></nb-icon>
        </button>
        <button nbButton size="small"
                [routerLink]="['/products/add']"
                nbTooltip="By clicking this you can add the products" nbTooltipPlacement="bottom"
                class=" rounded-2 fw-semibold">
          <nb-icon icon="plus"></nb-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="appLayoutBody">
    <div>
      <p-dataView class="bg-transparent mb-2" #dv [value]="products" [paginator]="true" [rows]="10" filterBy="brand"
                  layout="grid">
        <ng-template #list let-products pTemplate="gridItem">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3" *ngFor="let item of products; let first = first; let last = last; let odd = odd; let even = even; let index = index">
              <nb-card class="productCard">
                <nb-card-header class="d-flex justify-content-center align-items-center cursor-pointer" [routerLink]="['/products/details']" [queryParams]="{product: item.slug}">
                  <img src="{{item.images[0].url}}" alt="product" class="productImage">
                </nb-card-header>
                <nb-card-body>
                  <div>
                    <p class="fw-semibold mb-1 productTitle cursor-pointer" [routerLink]="['/products/details']" [queryParams]="{product: item.slug}">{{item.name}}</p>
                    <p class="text-black-50 small productSubTitle">{{item.description}}</p>
                  </div>
                  <div class="d-flex gap-2">
                    <div>
                      <nb-icon *ngFor="let item of [].constructor(5); let i = index" icon="star-outline" class="text-warning"></nb-icon>
                    </div>
                    <p class="m-0 cursor-pointer">5 Reviews</p>
                  </div>
                  <div class="d-flex align-items-end gap-2">
                    <p class="fw-semibold m-0 mt-2 text-2xl" style="font-family: system-ui,serif !important;">{{item.discountedPrice | currency:'INR':'symbol-narrow':'1.0-0'}}</p>
                    <small style="font-family: system-ui,serif !important;">MRP:
                      <span class="productMrp"  style="font-family: system-ui,serif !important;">{{item.price | currency:'INR':'symbol-narrow':'1.0-0'}}</span>
                      <span class="fw-semibold">
                        ({{item.discount}}%)
                      </span>
                    </small>
                  </div>
                  <div class="row mt-2" *ngIf="index === 0">
                    <div class="col-10">
                      <button nbButton size="small"
                              [routerLink]="['/products/edit']" [queryParams]="{product: item.slug}"
                              nbTooltip="By clicking this you can edit the product" nbTooltipPlacement="bottom"
                              class=" rounded-2 fw-semibold bg-dark text-white w-100">
                        Add to Cart<nb-icon icon="shopping-cart-outline"></nb-icon>
                      </button>
                    </div>
                    <div class="col-2">
                      <button nbButton size="small"
                              nbTooltip="By clicking this you can edit the product" nbTooltipPlacement="bottom"
                              class=" rounded-2 fw-semibold">
                        <nb-icon icon="heart-outline"></nb-icon>
                      </button>
                    </div>
                  </div>
                  <div class="row mt-2" *ngIf="index === 1 || index === 4">
                    <div class="col-4">
                      <button nbButton size="small"
                              [routerLink]="['/products/details']" [queryParams]="{product: item.slug}"
                              nbTooltip="By clicking this you can view the product details" nbTooltipPlacement="bottom"
                              class=" rounded-2 fw-semibold bg-dark text-white w-100">
                        View <nb-icon icon="eye-outline"></nb-icon>
                      </button>
                    </div>
                    <div class="col-4">
                      <button nbButton size="small"
                              [routerLink]="['/products/edit']" [queryParams]="{product: item.slug}"
                              nbTooltip="By clicking this you can edit the product" nbTooltipPlacement="bottom"
                              class=" rounded-2 fw-semibold bg-dark text-white w-100">
                        Edit <nb-icon icon="edit-outline"></nb-icon>
                      </button>
                    </div>
                    <div class="col-4">
                      <button nbButton size="small"
                              (click)="removeProduct(removeProductDialog, item.name, item._id)"
                              nbTooltip="By clicking this you can remove the product" nbTooltipPlacement="bottom"
                              class=" rounded-2 fw-semibold bg-danger text-white w-100">
                        Delete<nb-icon icon="trash-outline"></nb-icon>
                      </button>
                    </div>
                  </div>
                  <div class="row mt-2" *ngIf="index === 2">
                    <div class="col-10">
                      <button nbButton size="small"
                              nbTooltip="By clicking this you can edit the product" nbTooltipPlacement="bottom"
                              class=" rounded-2 fw-semibold bg-dark text-white w-100">
                        Notify me<nb-icon icon="bell-outline"></nb-icon>
                      </button>
                    </div>
                    <div class="col-2">
                      <button nbButton size="small"
                              nbTooltip="By clicking this you can edit the product" nbTooltipPlacement="bottom"
                              class=" rounded-2 fw-semibold">
                        <nb-icon icon="heart-outline"></nb-icon>
                      </button>
                    </div>
                  </div>
                  <div class="row mt-2" *ngIf="index === 3">
                    <div class="col-10">
                      <button nbButton size="small"
                              class=" rounded-2 fw-semibold bg-dark text-white w-100 d-flex align-items-center justify-content-around">
                        <nb-icon icon="trash-outline"></nb-icon>
                        3
                        <nb-icon icon="plus-outline"></nb-icon>
                      </button>
                    </div>
                    <div class="col-2">
                      <button nbButton size="small"
                              nbTooltip="By clicking this you can edit the product" nbTooltipPlacement="bottom"
                              class=" rounded-2 fw-semibold">
                        <nb-icon icon="heart-outline"></nb-icon>
                      </button>
                    </div>
                  </div>
                </nb-card-body>
                <p class="productStockBanner productStockBannerOOS" *ngIf="even">Out of Stock</p>
                <p class="productStockBanner productStockBannerLS" *ngIf="odd">Low Stock</p>
              </nb-card>
            </div>
          </div>
        </ng-template>
      </p-dataView>

      <app-no-data *ngIf="!products.length"></app-no-data>
    </div>
  </div>
</div>
<ng-template #removeProductDialog let-data let-ref="dialogRef" id="deletProduct">
  <nb-card class="globalDialogBox">
    <nb-card-body class="globalDialogBoxCardBody">
      <div class="globalDialogBoxIcon">
        <button nbButton size="large"
                type="button"
                style="border: 1px solid black !important;"
                class="">
          <nb-icon class="text-white" icon="question-mark-outline"></nb-icon>
        </button>
      </div>
      <div class="globalDialogBoxText">
        <h5 class="m-0 fw-semibold">Are you sure?</h5>
        <p class="mb-1 fw-semibold">Delete the - <span class="text-danger">{{productName}}</span></p>
        <p><small class="mb-1">You cannot undo this action after deletion. This product will be deleted.</small></p>
      </div>
      <div class="d-flex justify-content-center gap-3">
        <button nbButton class="bg-transparent "
                (click)="ref.close()"
                type="button" style="border: 1px solid black !important;">Cancel</button>
        <button nbButton class="bg-black text-white"
                type="button" (click)="delete(ref)">Delete</button>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>
