.zoom-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  cursor: pointer;
}

.zoom-container {
  width: 100%;
  max-width: 400px;
  height: auto;
  position: relative; /* Added position relative */
}

/* Override lib-ngx-image-zoom styling */
lib-ngx-image-zoom {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
}

/* Target the internal container of ngx-image-zoom */
::ng-deep .ngxImageZoomContainer {
  width: 100% !important;
  height: 100% !important;
  //display: flex !important;
  //justify-content: center !important;
  //align-items: center !important;
}

/* Target the thumbnail image */
::ng-deep .ngxImageZoomThumbnail {
  max-width: 100% !important;
  max-height: 100% !important;
  object-fit: contain !important;
}

.productViewDetailsCard{
  position: relative;
  inset: 0;
  .productStockBanner{
    margin: 0;
    width: fit-content;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
  }
}
