<div class="viewDetailProductsMain">
  <div class="appLayoutHeader" *ngIf="loading">
    <div class="appLayoutHeaderText d-flex gap-2 align-items-center p-2">
      <div>
        <button nbButton size="small"
                (click)="backToPrev()"
                nbTooltip="Back to previous page" nbTooltipPlacement="bottom"
                class="rounded-2 fw-semibold">
          <nb-icon icon="arrow-back-outline"></nb-icon>
        </button>
      </div>
      <h5 class="fw-semibold m-0">{{ product.name }}
      </h5>
    </div>
  </div>
  <div class="appLayoutBody">
    <div class="productViewDetails row bg-white m-0 rounded-2">
      <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1">
        <img src="{{image.url}}" alt="preview"
             [ngClass]="previewImage === image.url ? 'border border-danger' : ''"
             class=" img-thumbnail img-fluid cursor-pointer mt-3"
             (mouseover)="previewImgUrl(image.url)" *ngFor="let image of product.images">
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 p-3">
        <div class="zoom-wrapper bg-white">
          <div class="zoom-container">
            <lib-ngx-image-zoom
              [thumbImage]="previewImage"
              [fullImage]="previewImage"
              [enableScrollZoom]="true"
              [enableLens]="true"
              [lensHeight]="150"
              [lensWidth]="150"
              [magnification]="1.2"
              [circularLens]="true"
              class="zoom-image"
            ></lib-ngx-image-zoom>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7">
        <nb-card class="productViewDetailsCard border-0">
          <nb-card-body class="productViewDetailsCardBody">
            <div>
              <p class="fw-bold mb-1">{{product?.name}}</p>
              <small class="text-muted small">{{product?.description}}</small>
            </div>
            <div class="mt-3">
              <div>
                <p class="text-2xl mb-1">
                  <span class="text-danger">{{product?.discount}}%</span>
                  <span class="productMrp ml-2 fw-semibold" style="font-family: system-ui,serif !important;">{{product?.price | currency:'INR':'symbol-narrow':'1.0-0'}}</span>
                </p>
                <p class="fw-semibold m-0 mt-2 text-0xl text-black-50 text-decoration-line-through" style="font-family: system-ui,serif !important;">MRP: {{ product?.price - (product?.price * (product?.discount / 100)) | currency:'INR':'symbol-narrow':'1.0-0' }}</p>
              </div>
              <p-divider></p-divider>
              <div class="mt-2">
                <p class="fw-semibold mb-1">Offer's Available</p>
                <small>Inclusive all taxes</small>
                <div>
                  <span class="fw-semibold small">EMI </span>
                  <span>starts at </span>
                  <span style="font-family: system-ui,serif !important;">{{ product?.price - (product?.price * (75 / 100)) | currency:'INR':'symbol-narrow':'1.0-0' }}. </span>
                  <span>No Cost EMI Available </span>
                  <span class="fw-semibold small text-primary cursor-pointer" (click)="viewEMI(productEMIDialog)">View </span>
                </div>
                <div class="mt-3 row">
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-2">
                    <div class="card">
                      <div class="card-body">
                        <p class="fw-semibold mb-1">Cashback</p>
                        <small class=" m-0">Upto ₹389.00 cashback. when you pay with NPK Payments</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-2">
                    <div class="card">
                      <div class="card-body">
                        <p class="fw-semibold mb-1">No Cost EMI</p>
                        <small class=" m-0">Upto ₹725.80 EMI interest savings on select Credit Cards</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-2">
                    <div class="card">
                      <div class="card-body">
                        <p class="fw-semibold mb-1">Dealer Offer</p>
                        <small class=" m-0">Get GST invoice and save up to 28% on business purchases.</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p-divider></p-divider>
              <div class="row">
                <div class="col-4">
                  <div class="card">
                    <div class="card-body">
                      <p class="m-0"><nb-icon icon="credit-card-outline" ></nb-icon></p>
                      <small class="m-0 small" style="font-size: 12px">Cash/Pay on Delivery</small>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="card">
                    <div class="card-body">
                      <p class="m-0"><nb-icon icon="car-outline" ></nb-icon></p>
                      <small class="m-0 small" style="font-size: 12px">Free/Fast Delivery</small>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="card">
                    <div class="card-body">
                      <p class="m-0"><nb-icon icon="refresh-outline" ></nb-icon></p>
                      <small class="m-0 small" style="font-size: 12px">7 Day's returnable</small>
                    </div>
                  </div>
                </div>
              </div>
              <p-divider></p-divider>
              <div>
                <p class="fw-semibold mb-1">About this item</p>
                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, magnam.</small>
                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At culpa doloremque est excepturi fugiat ipsam molestiae quidem sequi sit veritatis?</small>
                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, error, sapiente! Blanditiis eaque eum excepturi.</small>
                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, magnam.</small>
                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At culpa doloremque est excepturi fugiat ipsam molestiae quidem sequi sit veritatis?</small>
                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, error, sapiente! Blanditiis eaque eum excepturi.</small>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>

<ng-template #productEMIDialog let-data let-ref="dialogRef" id="productEMIDialog">
  <nb-card class="globalDialogBox">
    <nb-card-header class="d-flex justify-content-between">
      <h5 class="m-0 fw-semibold">EMI</h5>
      <nb-icon class="cursor-pointer" icon="close-outline" pack="eva" (click)="ref.close()"></nb-icon>
    </nb-card-header>
    <nb-card-body class="globalDialogBoxCardBody">
      <div class="">
        <h5 class="m-0 fw-semibold">EMI</h5>
        <p class="mb-1 fw-semibold">EMI starts at {{ product?.price - (product?.price * (75 / 100)) | currency:'INR':'symbol-narrow':'1.0-0' }}. No Cost EMI Available</p>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>
