<div class="accessDenied">
  <img src="assets/error/access-denied.jpg" alt="Access Denied" class="notFoundImage w-25">
  <h4 class="text-dark font-weight-bold mt-3 fw-bold">ACCESS DENIED</h4>
  <p class="text-dark mb-1">You do not have permission to access this page.</p>
  <p class="text-dark mb-1">Please check your credentials or contact the administrator.</p>
  <p class="text-dark">Click below to log in again.</p>

  <p-button label="Go to Login" [routerLink]="['/login']" severity="contrast"  />
</div>
