<div class="accessDenied">
  <img src="assets/error/access-denied.png" alt="Access Denied" class="notFoundImage w-25">
  <h4 class="text-dark font-weight-bold mt-3 fw-bold">ACCESS DENIED</h4>
  <p class="text-dark mb-1">You do not have permission to access this page.</p>
  <p class="text-dark mb-1">Please check your credentials or contact the administrator.</p>
  <p class="text-dark">Click below to log in again.</p>

  <div class="gap-2 d-flex accessDeniedButtons">
    <p-button class="btn btn-sm p-0" label="Re-Login" [routerLink]="['/dashboard/view']" severity="primary"  />
    <p-button class="btn btn-sm p-0"  label="Back to Previous" (click)="backToPrev()" severity="contrast"  />
    <p-button class="btn btn-sm p-0"  label="Logout" [routerLink]="['/login']" severity="warning"  />
  </div>
</div>
