<div class="loginPage" style="height: 100vh">
  <div class="loginForm row m-0 h-100" *ngIf="loading">
    <div class="d-sm-none d-md-none d-lg-block d-xl-block col-sm-12 col-md-12 col-lg-6 col-xl-6 m-auto text-center">
      <img src="./assets/core/credentials.png" alt="login" class="w-75">
    </div>
    <div class="w-full d-sm-none d-md-none d-lg-block d-xl-block col-sm-12 col-md-12 col-lg-1 col-xl-1">
      <p-divider layout="vertical" class="!hidden md:!flex">
        <div class="text-center">
          <p class="m-0 fw-semibold">NPK</p>
          <p class="m-0"><small>Interiors</small></p>
        </div>
      </p-divider>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 m-auto p-sm-5 p-md-5 ps-lg-0 ps-xl-0">
      <div class="loginFormDiv">
        <div class="text-center mb-3">
          <img src="./assets/core/logo.png" alt="logo">
        </div>
        <form [formGroup]="loginForm">
          <nb-form-field class="mb-3">
            <button nbSuffix nbButton ghost >
              <nb-icon icon="email-outline"
                       pack="eva">
              </nb-icon>
            </button>
            <input nbInput fullWidth formControlName="email" placeholder="Enter your email" />
          </nb-form-field>
          <nb-form-field class="mb-3">
            <input [type]="getInputType()" nbInput type="password" fullWidth formControlName="password" placeholder="Enter your password">
            <button nbSuffix nbButton ghost (click)="showPassword = !showPassword">
              <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                       pack="eva"
                       [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
              </nb-icon>
            </button>
          </nb-form-field>
        </form>
        <div class="">
          <p-button label="Login"  (click)="login()" severity="contrast" />
        </div>
        <div class="mt-3">
          <p class="small" *ngIf="ifForgot">Are you forgot your password? <span [routerLink]="['/register']" class="fw-semibold text-decoration-underline cursor-pointer">Get back</span></p>
          <p class="m-0 small">Don't have an account? <span [routerLink]="['/register']" class="fw-semibold text-decoration-underline cursor-pointer">Register</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
