<div class="loginPage" style="height: 100vh">
  <div class="loginForm row m-0 h-100" *ngIf="loading">
    <div class="d-sm-none d-md-none d-lg-block d-xl-block col-sm-12 col-md-12 col-lg-5 col-xl-5 m-auto text-center">
      <img src="./assets/core/credentials.png" alt="login" class="w-75">
    </div>
    <div class="d-sm-none d-md-none d-lg-block d-xl-block col-sm-12 col-md-12 col-lg-1 col-xl-1">
      <p-divider layout="vertical" class="!hidden md:!flex">
        <div class="text-center">
          <p class="m-0 fw-semibold">NPK</p>
          <p class="m-0"><small>Interiors</small></p>
        </div>
      </p-divider>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 m-auto p-sm-5 p-md-5 ps-lg-0 ps-xl-0">
      <div class="loginFormDiv">
        <div class="text-center mb-3">
          <img src="./assets/core/logo.png" alt="logo">
        </div>
        <div class="text-center" *ngIf="!ifForgot">
          <h5 class="fw-bold mb-1">Welcome</h5>
          <p class="small text-center" >Please sign in to continue. Your personalized experience awaits.</p>
        </div>
        <form [formGroup]="loginForm">
          <div *ngIf="ifForgot">
            <div class="text-center">
              <h5 class="fw-bold">Forgot Password</h5>
              <p><small>We will send you an email containing a link to reset your password.</small></p>
            </div>
          </div>
          <div>
            <label class="small fw-semibold">Email</label>
            <nb-form-field class="mb-3"
                           [ngClass]="{ 'is-invalid': submitted && l.email?.errors, 'mb-0': submitted && l.email?.errors, 'mb-3': !(submitted && l.email?.errors) }">
              <button nbSuffix nbButton ghost >
                <nb-icon icon="email-outline"
                         pack="eva">
                </nb-icon>
              </button>
              <input nbInput type="email" fullWidth formControlName="email" placeholder="example@ex.com" />
            </nb-form-field>
            <div *ngIf="submitted && l.email?.errors" class="invalid-feedback mb-1">
              <div *ngIf="l.email?.errors?.['required']">Please enter your email.</div>
              <div *ngIf="l.email?.errors?.['email']">Email is not valid.</div>
            </div>
            <div *ngIf="!ifForgot">
              <label class="small fw-semibold">Password</label>
              <nb-form-field class="mb-3"
                             [ngClass]="{ 'is-invalid': submitted && l.password?.errors, 'mb-0': submitted && l.password?.errors, 'mb-3': !(submitted && l.password?.errors) }">
                <input [type]="getInputType()" nbInput type="password" fullWidth formControlName="password" placeholder="Secret password">
                <button nbSuffix nbButton ghost (click)="showPassword = !showPassword">
                  <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                           pack="eva"
                           [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                  </nb-icon>
                </button>
              </nb-form-field>
              <div *ngIf="submitted && l.password?.errors" class="invalid-feedback mb-1">
                <div *ngIf="l.password?.errors?.['required']">Please enter your password.</div>
              </div>
              <div class="">
                <p-button label="Login"  (click)="login()" severity="contrast" />
              </div>
              <div class="mt-3">
                <p class="small mb-2">Are you forgot your password? <span (click)="forgotPassword()" class="fw-semibold text-decoration-underline cursor-pointer-npk">Send Email</span></p>
                <p class="m-0 small">Don't have an account? <span [routerLink]="['/register']" class="fw-semibold text-decoration-underline cursor-pointer-npk">Register</span></p>
              </div>
            </div>
            <div *ngIf="ifForgot">
              <div class="">
                <p-button label="Submit"  (click)="changePassword()" severity="contrast" />
              </div>
              <div class="mt-3">
                <p class="small mb-2">Back to login? <span (click)="backToLogin()" class="fw-semibold text-decoration-underline cursor-pointer-npk">Go back</span></p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="card flex justify-center border-0">
  <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'100ms'" [hideTransitionOptions]="'100ms'"/>
</div>
