<div class="addProductsMain">
  <div class="appLayoutHeader">
    <div class="appLayoutHeaderText d-flex justify-content-between align-items-center p-2">
      <div class="d-flex gap-2 align-items-center">
        <div>
          <button nbButton size="small"
                  (click)="backToPrev()"
                  nbTooltip="Back to previous page" nbTooltipPlacement="bottom"
                  class="rounded-2 fw-semibold">
            <nb-icon icon="arrow-back-outline"></nb-icon>
          </button>
        </div>
        <h5 class="fw-semibold m-0">Add Products
          <nb-icon nbPrefix icon="info-outline" class="cursor-pointer-npk" nbTooltip="You can add the products. You need to select the category first and then subcategory." nbTooltipPlacement="bottom"></nb-icon>
        </h5>
      </div>
      <div>
        <input
          type="file"
          accept=".xls,.xlsx"
          #fileInput
          style="display: none;"
          (change)="onFileSelected($event)"
        />
        <button
          nbButton
          size="small"
          nbTooltip="Import the raw data"
          nbTooltipPlacement="bottom"
          class="rounded-2 fw-semibold"
          (click)="fileInput.click()">
          <nb-icon icon="cloud-download-outline"></nb-icon>
        </button>
        <button
          *ngIf="nonUpload"
          nbButton
          size="small"
          nbTooltip="cancel the raw data"
          nbTooltipPlacement="bottom"
          class="rounded-2 fw-semibold ml-2"
          (click)="closeUpload()">
          <nb-icon icon="close-outline"></nb-icon>
        </button>
      </div>
    </div>
    <div class="mt-3">
      <p class="fw-semibold mb-1">Note For Bulk Upload:
        <span class="small fw-normal text-decoration-underline cursor-pointer-npk ml-2 text-info-emphasis"
              (click)="bulkInstructions = !bulkInstructions">{{ bulkInstructions ? 'Hide' : 'Show' }} Instructions
        </span>
      </p>
      <small class="" *ngIf="bulkInstructions"> Verify that slug* is essential to the operation of the product. Therefore, avoid manually entering the slug.
        <a href="https://slugify.online/" target="_blank" class="text-primary">To obtain the slug, use generate slug</a>. It must be written in tiny letters. If you have a folder of photographs, you can upload them after submitting the data, or you can upload the images straight into the AWS S3 you need to enter the document data (key, name, type) separately in excel. Please review the table below before uploading the bulk data.
        For computations and pictures.
      </small>
    </div>
  </div>

  <div class="appLayoutBody">
    <div class="addProducts" *ngIf="loading">
      @if (!nonUpload){
        <form [formGroup]="addProductsForm">
          <div formArrayName="products">
            <div *ngFor="let pdt of p.controls; let i = index" [formGroupName]="i" class="card mb-3 border-0 p-4">
              <div class="row">
                <!-- Nested FormGroup for Stock Information -->
                <div formGroupName="category" class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                  <label class="label fw-semibold">Categories*</label>
                  <nb-select fullWidth formControlName="id" placeholder="Select Category"
                             [ngClass]="{ 'is-invalid': submitted && pdt.get('category.id')?.errors }">
                    <nb-option *ngFor="let category of categoriesData" [value]="category._id" (click)="selectCategory(category, i);">
                      {{ category.name }}
                    </nb-option>
                  </nb-select>
                  <div *ngIf="submitted && pdt.get('category.id')?.errors" class="invalid-feedback">
                    <div *ngIf="pdt.get('category.id')?.errors?.['required']">Please select the category.</div>
                  </div>
                </div>
                <!-- Nested FormGroup for Stock Information -->
                <div formGroupName="subCategory" class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3" >
                  <label class="label fw-semibold">Sub Categories*</label>
                  <nb-select fullWidth formControlName="id" placeholder="Select Sub Category"
                             [ngClass]="{ 'is-invalid': submitted && pdt.get('subCategory.id')?.errors }">
                    <nb-option *ngFor="let subCategory of selectedSubCategoriesMap[i]" [value]="subCategory._id" (click)="p.at(i).get('subCategory.name')?.setValue(subCategory.name)">
                      {{ subCategory.name }}
                    </nb-option>
                  </nb-select>
                  <div *ngIf="submitted && pdt.get('subCategory.id')?.errors" class="invalid-feedback">
                    <div *ngIf="pdt.get('subCategory.id')?.errors?.['required']">Please select the sub category.</div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                  <label class="label fw-semibold">Product Name*</label>
                  <input type="text" nbInput class="form-control"
                         fullWidth formControlName="name" placeholder="Enter product name"
                         [ngClass]="{ 'is-invalid': submitted && pdt.get('name')?.errors }" >
                  <div *ngIf="submitted && pdt.get('name')?.errors" class="invalid-feedback">
                    <div *ngIf="pdt.get('name')?.errors?.['required']">Please enter the name.</div>
                    <div *ngIf="pdt.get('name')?.errors?.['invalidName']">Name cannot start or end with spaces or more spaces.</div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3">
                  <label class="label fw-semibold">Price*</label>
                  <nb-form-field>
                    <nb-icon nbSuffix icon="currency-usd-outline" pack="eva"></nb-icon>
                    <input type="number" nbInput class="form-control" min="0"
                           (keyup)="priceChange($event, i);"
                           fullWidth formControlName="price" placeholder="Enter product price"
                           [ngClass]="{ 'is-invalid': submitted && pdt.get('price')?.errors }" >
                  </nb-form-field>
                  <div *ngIf="submitted && pdt.get('price')?.errors" class="invalid-feedback">
                    <div *ngIf="pdt.get('price')?.errors?.['required']">Please enter the price.</div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-1 col-lg-1 col-xl-1 mb-3">
                  <label class="label fw-semibold">Discount*</label>
                  <nb-form-field>
                    <nb-icon nbSuffix icon="percent-outline" pack="eva"></nb-icon>
                    <input type="number" nbInput class="form-control"
                           (keyup)="discountChange($event, i);"
                           fullWidth formControlName="discount" placeholder="Enter product discount" min="0" max="99"
                           [ngClass]="{ 'is-invalid': submitted && pdt.get('discount')?.errors }" >
                  </nb-form-field>
                  <div *ngIf="submitted && pdt.get('discount')?.errors" class="invalid-feedback">
                    <div *ngIf="pdt.get('discount')?.errors?.['required']">Please enter the discount.</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3">
                  <label class="label fw-semibold">Discounted Price*</label>
                  <nb-form-field>
                    <nb-icon nbSuffix icon="currency-usd-outline" pack="eva"></nb-icon>
                    <input type="number" nbInput class="form-control" [readOnly]="true"
                           fullWidth formControlName="discountedPrice" placeholder="Enter product price"
                           [ngClass]="{ 'is-invalid': submitted && pdt.get('discountedPrice')?.errors }" >
                  </nb-form-field>
                  <div *ngIf="submitted && pdt.get('discountedPrice')?.errors" class="invalid-feedback">
                    <div *ngIf="pdt.get('discountedPrice')?.errors?.['required']">Please enter the price.</div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3">
                  <label class="label fw-semibold">EMI Starts (Min 3 Months)*</label>
                  <input type="number" nbInput class="form-control" [readonly]="true"
                         fullWidth formControlName="emiStartsAt" placeholder="Enter product price"
                         [ngClass]="{ 'is-invalid': submitted && pdt.get('emiStartsAt')?.errors }" >
                  <div *ngIf="submitted && pdt.get('emiStartsAt')?.errors" class="invalid-feedback">
                    <div *ngIf="pdt.get('emiStartsAt')?.errors?.['required']">Please enter the price.</div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2 mb-3">
                  <label class="label fw-semibold">Interest*</label>
                  <nb-form-field>
                    <nb-icon nbSuffix icon="percent-outline" pack="eva"></nb-icon>
                    <input type="number" nbInput class="form-control"
                           (keyup)="anualInterestChange($event, i);"
                           fullWidth formControlName="anualInterest" placeholder="Enter product discount" min="0" max="16"
                           [ngClass]="{ 'is-invalid': submitted && pdt.get('anualInterest')?.errors }" >
                  </nb-form-field>
                  <div *ngIf="submitted && pdt.get('anualInterest')?.errors" class="invalid-feedback">
                    <div *ngIf="pdt.get('anualInterest')?.errors?.['required']">Please enter the discount.</div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3 mb-3">
                  <label class="label fw-semibold">Is-Featured*</label>
                  <div class="w-100">
                    <p-toggleButton class="w-100"
                                    formControlName="isFeatured"
                                    onLabel="True"
                                    offLabel="False" />
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3 mb-3">
                  <label class="label fw-semibold">Is-Trending*</label>
                  <div>
                    <p-toggleButton
                      formControlName="isTrending"
                      onLabel="True"
                      offLabel="False" />
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3 mb-3">
                  <label class="label fw-semibold">Is-NewArrival*</label>
                  <div>
                    <p-toggleButton
                      formControlName="isNewArrival"
                      onLabel="True"
                      offLabel="False" />
                  </div>
                </div>
              </div>
              <!-- Nested FormGroup for Stock Information -->
              <div formGroupName="specifications">
                <div class="row">
                  <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3">
                    <label class="label fw-semibold">Brand*</label>
                    <input type="text" nbInput class="form-control"
                           fullWidth formControlName="brand" placeholder="Enter brand nam"
                           [ngClass]="{ 'is-invalid': submitted && pdt.get('specifications')?.get('brand')?.errors }" >
                    <div *ngIf="submitted && pdt.get('specifications')?.get('brand')?.errors" class="invalid-feedback">
                      <div *ngIf="pdt.get('specifications')?.get('brand')?.errors?.['required']">Please enter the brand.</div>
                      <div *ngIf="pdt.get('specifications')?.get('brand')?.errors?.['pattern']">Dont use space before the name.</div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3">
                    <label class="label fw-semibold">Material*</label>
                    <input type="text" nbInput class="form-control"
                           fullWidth formControlName="material" placeholder="Enter material details"
                           [ngClass]="{ 'is-invalid': submitted && pdt.get('specifications')?.get('material')?.errors }" >
                    <div *ngIf="submitted && pdt.get('specifications')?.get('material')?.errors" class="invalid-feedback">
                      <div *ngIf="pdt.get('specifications')?.get('material')?.errors?.['required']">Please enter the material.</div>
                      <div *ngIf="pdt.get('specifications')?.get('material')?.errors?.['pattern']">Dont use space before the name.</div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3">
                    <label class="label fw-semibold">Dimensions*</label>
                    <input type="text" nbInput class="form-control"
                           (input)="onDimensionInput($event, i)"
                           fullWidth formControlName="dimensions" placeholder="Enter dimensions details"
                           [ngClass]="{ 'is-invalid': submitted && pdt.get('specifications')?.get('dimensions')?.errors }" >
                    <div *ngIf="submitted && pdt.get('specifications')?.get('dimensions')?.errors" class="invalid-feedback">
                      <div *ngIf="pdt.get('specifications')?.get('dimensions')?.errors?.['required']">Please enter the dimensions.</div>
                      <div *ngIf="pdt.get('specifications')?.get('dimensions')?.errors?.['invalidFormat']">
                        format "LxWxH cm|mm|in".
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3">
                    <label class="label fw-semibold">Weight*</label>
                    <input type="text" nbInput class="form-control"
                           fullWidth formControlName="weight" placeholder="Enter weight details"
                           [ngClass]="{ 'is-invalid': submitted && pdt.get('specifications')?.get('weight')?.errors }" >
                    <div *ngIf="submitted && pdt.get('specifications')?.get('weight')?.errors" class="invalid-feedback">
                      <div *ngIf="pdt.get('specifications')?.get('weight')?.errors?.['required']">Please enter the weight.</div>
                      <div *ngIf="pdt.get('specifications')?.get('weight')?.errors?.['invalidWeightFormat']">
                        format "weight lb|kg|g|oz".
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3">
                    <label class="label fw-semibold">Color*</label>
                    <input type="text" nbInput class="form-control"
                           fullWidth formControlName="color" placeholder="Enter color details"
                           [ngClass]="{ 'is-invalid': submitted && pdt.get('specifications')?.get('color')?.errors }" >
                    <div *ngIf="submitted && pdt.get('specifications')?.get('color')?.errors" class="invalid-feedback">
                      <div *ngIf="pdt.get('specifications')?.get('color')?.errors?.['required']">Please enter the color.</div>
                      <div *ngIf="pdt.get('specifications')?.get('color')?.errors?.['pattern']">Dont use space before the name.</div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3">
                    <label class="label fw-semibold">Finishing*</label>
                    <input type="text" nbInput class="form-control"
                           fullWidth formControlName="finish" placeholder="Enter finishing details"
                           [ngClass]="{ 'is-invalid': submitted && pdt.get('specifications')?.get('finish')?.errors }" >
                    <div *ngIf="submitted && pdt.get('specifications')?.get('finish')?.errors" class="invalid-feedback">
                      <div *ngIf="pdt.get('specifications')?.get('finish')?.errors?.['required']">Please enter the finishing.</div>
                      <div *ngIf="pdt.get('specifications')?.get('finish')?.errors?.['pattern']">Dont use space before the name.</div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3">
                    <label class="label fw-semibold">Warranty*</label>
                    <input type="text" nbInput class="form-control"
                           fullWidth formControlName="warranty" placeholder="Enter weight details"
                           [ngClass]="{ 'is-invalid': submitted && pdt.get('specifications')?.get('warranty')?.errors }" >
                    <div *ngIf="submitted && pdt.get('specifications')?.get('warranty')?.errors" class="invalid-feedback">
                      <div *ngIf="pdt.get('specifications')?.get('warranty')?.errors?.['required']">Please enter the warranty.</div>
                      <div *ngIf="pdt.get('specifications')?.get('warranty')?.errors?.['invalidWarrantyFormat']">
                        format "6|12|18|24|30|36 months".
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mb-3">
                  <div class="d-flex align-items-center gap-3">
                    <div class="w-100">
                      <label class="label fw-semibold">Product Description*</label>
                      <textarea type="text" nbInput class="form-control" [minlength]="20" [maxlength]="150"
                                fullWidth formControlName="description" placeholder="Enter product description"
                                [ngClass]="{ 'is-invalid': submitted && pdt.get('description')?.errors }" ></textarea>
                      <div *ngIf="submitted && pdt.get('description')?.errors" class="invalid-feedback">
                        <div *ngIf="pdt.get('description')?.errors?.['required']">Please enter the description.</div>
                        <div *ngIf="pdt.get('description')?.errors?.['minlength']">Description must be at least 20 characters.</div>
                        <div *ngIf="pdt.get('description')?.errors?.['maxlength']">Description dont be more than 150 characters.</div>
                        <div *ngIf="pdt.get('description')?.errors?.['pattern']">Dont use space before the name.</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mb-3">
                  <div class="card flex justify-content-center border-0">
                    <label class="label fw-semibold">Images*</label>
                    <p-fileUpload
                      [multiple]="true"
                      [showUploadButton]="false"
                      chooseLabel="Choose files"
                      mode="advanced"
                      [customUpload]="true"
                      [auto]="true"
                      [showCancelButton]="false"
                      (onSelect)="onFileSelect($event, i)"
                      (onRemove)="removeFile($event, i)"
                      accept="image/*"
                      fileLimit="5"
                      invalidFileLimitMessageDetail="You can only upload up to 5 files."
                      maxFileSize="1000000">
                      <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                          <li *ngFor="let file of uploadedFiles">
                            {{ file.name }} - {{ file.size }} bytes
                          </li>
                        </ul>
                        <div class=" text-center" *ngIf="getImageCount(i) < 1">
                          <p class="mb-1 fw-semibold">Drag and drop files here to upload. Or click to choose files</p>
                          <small class="">Duplicate files are not allowed & max file size is 1MB. Also, you can upload only 5 files.</small>
                        </div>
                      </ng-template>
                    </p-fileUpload>
                  </div>
                  <div *ngIf="submitted && getImageCount(i) < 1">
                    <div class="text-danger small mt-1">Please upload the files.</div>
                  </div>
                  <div *ngIf="submitted && getImageCount(i) > 5">
                    <div class="text-danger small mt-1">File limit exceeded.</div>
                  </div>
                </div>
              </div>
              <div *ngIf="p.controls.length > 1" class="col-12 text-center mt-3">
                <button nbButton status="danger" style="padding: 10px !important;"
                        (click)="removeProduct(i)"
                        nbTooltip="Delete the product form {{ i + 1 }}" nbTooltipPlacement="right"
                        class="rounded-2 fw-semibold p-2"> Delete
                  <nb-icon icon="trash-outline"></nb-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="mt-3 d-flex justify-content-between">
            <button nbButton class="bg-black text-white" (click)="addProduct()" type="button">+ Product</button>
            <div class="d-flex gap-3">
              <button nbButton class="bg-transparent "
                      (click)="backToPrev()"
                      [nbTooltip]="'Cancel and go back to previous page. If you cancel, you will lost the data.'" type="button" style="border: 1px solid black !important;">Cancel</button>
              <button nbButton class="bg-black text-white"
                      type="button" (click)="addProducts()">Save</button>
            </div>
          </div>
        </form>
      } @else {
        <div>
          <div class="w-100 overflow-auto">
            <!-- Table to Display Excel Data -->
            <table *ngIf="excelData.length" class="table table-bordered m-0 w-100">
              <thead>
              <tr>
                <th>#</th> <!-- count column -->
                <th *ngFor="let header of tableHeaders; let i = index">{{ header }}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of excelData; let i = index">
                <td class="fixed-cell">{{ i + 1 }}</td>
                <td class="fixed-cell" *ngFor="let header of tableHeaders; let j = index">{{ row[header] }}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-end gap-3 mt-3">
            <button nbButton class="bg-transparent "
                    (click)="closeUpload()"
                    [nbTooltip]="'Cancel and go back to previous page. If you cancel, you will lost the data.'" type="button" style="border: 1px solid black !important;">Cancel</button>
            <button nbButton class="bg-black text-white"
                    type="button" (click)="uploadBulkProducts()">Bulk Upload</button>
          </div>
        </div>
      }
    </div>
  </div>
</div>
