<div class="resetPasswordPage" style="height: 100vh">
  <div class="resetPasswordForm row m-0 h-100" *ngIf="loading">
    <div class="d-sm-none d-md-none d-lg-block d-xl-block col-sm-12 col-md-12 col-lg-5 col-xl-5 m-auto text-center">
      <img src="./assets/core/credentials.png" alt="logo" class="w-75">
    </div>
    <div class="d-sm-none d-md-none d-lg-block d-xl-block col-sm-12 col-md-12 col-lg-1 col-xl-1">
      <p-divider layout="vertical" class="!hidden md:!flex">
        <div class="text-center">
          <p class="m-0 fw-semibold">NPK</p>
          <p class="m-0"><small>Interiors</small></p>
        </div>
      </p-divider>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 m-auto p-sm-5 p-md-5 ps-lg-0 ps-xl-0">
      <div class="resetPasswordFormDiv">
        <div class="text-center mb-3">
          <img src="./assets/core/logo.png" alt="logo">
        </div>
        <form [formGroup]="resetPasswordForm">
          <div>
            <label class="small fw-semibold">Password</label>
            <nb-form-field class="mb-3"
                           [ngClass]="{ 'is-invalid': submitted && r.password?.errors, 'mb-0': submitted && r.password?.errors, 'mb-3': !(submitted && r.password?.errors) }">
              <input  [type]="showPassword ? 'text' : 'password'" nbInput fullWidth formControlName="password" placeholder="Enter your new password">
              <button nbSuffix nbButton ghost (click)="showPassword = !showPassword">
                <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                         pack="eva"
                         [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                </nb-icon>
              </button>
            </nb-form-field>
            <div *ngIf="submitted && r.password?.errors" class="invalid-feedback mb-1">
              <div *ngIf="passwordErrors.required">Password is required.</div>
              <div *ngIf="passwordErrors.minlength">Password must be 8+ characters.</div>
              <div *ngIf="passwordErrors.uppercase">Missing uppercase letter.</div>
              <div *ngIf="passwordErrors.lowercase">Missing lowercase letter.</div>
              <div *ngIf="passwordErrors.number">Missing number.</div>
              <div *ngIf="passwordErrors.special">Missing special character.</div>
            </div>
          </div>
          <div>
            <label class="small fw-semibold">Confirm Password</label>
            <nb-form-field class="mb-3"
                           [ngClass]="{ 'is-invalid': submitted && r.confirmPassword?.errors, 'mb-0': submitted && r.confirmPassword?.errors, 'mb-3': !(submitted && r.confirmPassword?.errors) }">
              <input  [type]="showCPassword ? 'text' : 'password'" nbInput fullWidth formControlName="confirmPassword" placeholder="Confirm your password">
              <button nbSuffix nbButton ghost (click)="showCPassword = !showCPassword">
                <nb-icon [icon]="showCPassword ? 'eye-outline' : 'eye-off-2-outline'"
                         pack="eva"
                         [attr.aria-label]="showCPassword ? 'hide password' : 'show password'">
                </nb-icon>
              </button>
            </nb-form-field>
            <div *ngIf="submitted && r.confirmPassword?.errors" class="invalid-feedback mb-1">
              <div *ngIf="r.confirmPassword?.errors?.['required']">Please enter the confirm password.</div>
              <div *ngIf="r.confirmPassword?.errors?.['mustMatch']">Passwords must match.</div>
            </div>
          </div>
        </form>
        <div class="">
          <p-button label="submit"  (click)="submit()" severity="contrast"  />
        </div>
      </div>
    </div>
  </div>
  <div  *ngIf="!loading" class="tokenExpired">
    <img src="assets/error/tokenexpired.jpg" alt="503" class="tokenExpiredImage">
    <h4 class="text-dark font-weight-bold mt-3 fw-bold">Try Again Please</h4>
    <p class="text-dark mb-1 fw-semibold small">We apologize for the inconvenience, but it appears that the token has expired or that you are using a link that has already had the password reset.</p>
    <p class="text-dark mb-1 small">You must change the password once more. Send the mail again, please.</p>
    <p class="text-dark mb-1 small">It won't open without the reset password link. it needs to be a new, valid one.</p>
    <div class="tokenExpiredButtons">
      <p-button class="btn btn-sm" label="Reset Again" [routerLink]="['/login']" [queryParams]="{resetPassword: 'again'}" severity="contrast"  />
    </div>
  </div>
</div>

