.resetPasswordFormDiv{
  -webkit-box-shadow: 0 0 11px 0 rgba(231, 231, 231, 1);
  -moz-box-shadow: 0 0 11px 0 rgba(231, 231, 231, 1);
  box-shadow: 0 0 11px 0 rgba(231, 231, 231, 1);
  border-radius: 8px;
  padding: 20px
}
.resetPasswordFormDiv{
  padding: 1rem 4rem;
  nb-form-field{
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: .5rem;
    input:focus {
      background: transparent !important;
    }
    input::placeholder{
      opacity: 50%
    }
    button{
      nb-icon{
        width: 1.3rem;
        position: relative;
        top: 4px;
      }
    }
  }
}
::ng-deep{
  p-button{
    button{
      width: 100%;
      border-radius: 8px
    }
  }
  .p-toast .p-toast-message .p-toast-message-content {
    padding: 5px 0 5px 1rem !important;
  }
}

.tokenExpired{
  height: 100svh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tokenExpiredImage{
  width: 12rem;
  mix-blend-mode: multiply;
}
::ng-deep {
  .tokenExpiredButtons{
    border-radius: 8px !important;
    button{
      border-radius: 8px !important;
    }
  }
}
